name: Lint and Test

on:
  pull_request:
    branches:
      - master

jobs:
  lint-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5.0.0

      - name: Set up Go
        uses: actions/setup-go@v6.2.0
        with:
          go-version: '1.24'

      - name: Run go vet
        run: go vet ./...

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v8.0.0
        with:
          version: latest

      - name: Run go test with coverage
        run: go test -coverprofile=cover.out ./...

      - name: Go Beautiful HTML Coverage
        uses: gha-common/go-beautiful-html-coverage@v1
